*
{
    margin: 0;
    padding: 0;
}

html
{
    background: linear-gradient(90deg, rgba(2,0,0.6,1)0%, rgba(9,9,121,1)35%, rgba(0, 212, 225, 1)100%);;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#intro{
    padding: 205px 0 0 0;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}
